/* visual */
#sub4_visual {width:100%;margin-top:130px}
#sub4_visual img {width:100%; height:150px;}


/* subWrap */
#contWrap {width:1200px;margin:auto;height:auto}
#contWrap #sub4{width:1200px;padding-top:50px;border-bottom:1px solid #aaa}
#contWrap #sub4 h2 {padding-bottom:20px;color:#555}
#contWrap #nav {width:200px;margin-top:100px;float:left;background-color: #fff;}
#contWrap #nav ul.navi {width:200px;text-indent:10px;margin-top:1000px}
#contWrap #nav ul.navi li.group {margin-bottom:3px}
#contWrap #nav ul.navi,
#contWrap #nav ul.navi ul.su {list-style:none;margin:0;padding:0}
div.title {height:35px;margin-bottom:2px;line-height:30px;color:#fff;background-color: #369;
cursor:pointer}
#contWrap #nav ul.navi ul.sub li {height:35px;margin-bottom:2px;line-height:30px;
background-color: #eee;}
#contWrap #nav ul.navi ul.sub li a{text-decoration:none;display:block;width:100%;height:100%;
color:#000}
#contWrap #nav ul.navi ul.sub li:hover {background-color: #ccc}


/* table */
#cont1 {width:1200px;height:1800px}
#cont1 .box8 {width:700px;height:100px;margin:auto}
#cont1 .box8 .tit {width:700px;height:150px;margin-left:150px;}
#cont1 .box8 .tit h4 {text-align:center;width:200px;line-height:30px;height:30px;
background-color: #369;color:#fff;margin:100px;margin-bottom:15px;padding-top:2px}
#cont1 .box8 .sub1 {width:700px;height:500px;margin-top:70px;margin-left:150px}
#cont1 .box8 .sub1 h4 {margin-bottom:20px}
#cont1 .box8 .sub1>ul>li {width:700px;height:30px;padding-top:5px;
padding-left:5px;background-color: #fcc;}

#cont1 .box8 .sub2 {width:700px;height:300px;margin-top:130px;margin-left:150px}
#cont1 .box8 .sub2 h4 {margin-bottom:20px}
#cont1 .box8 .sub2>ul>li {width:700px;height:40px;padding-top:5px;padding-left:5px;
background-color: #fcc;}

#cont1 .box8 .sub3 {width:700px;height:270px;margin-left:150px}
#cont1 .box8 .sub3 h4 {margin-bottom:20px}
#cont1 .box8 .sub3 table {width:700px;height:130px;border-collapse:collapse}
#cont1 .box8 .sub3 th, 
#cont1 .box8 .sub3 td {border:1px solid #000}
#cont1 .box8 .sub3 tr:nth-child(odd){background-color: #ccc;}
#cont1 .box8 .sub3 tr:nth-child(1) {background-color: #369;color:#fff}



#cont1 .box8 .sub4 {width:700px;height:200px;margin-left:150px}
#cont1 .box8 .sub4 h4 {margin-bottom:30px}
#cont1 .box8 .sub4>ul>li {width:700px;height:60px;padding-top:10px;padding-left:5px;
background-color: #fcc;}